{% extends "templates/web.html" %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprint - Gallehr Sustainable Risk Management GmbH</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Imprint</h1>
        <p><strong>Gallehr Sustainable Risk Management GmbH</strong></p>
        <p>Hauptstraße 43<br>
        D-61184 Karben</p>
        <p>Phone: +49 6039 92 63 686<br>
        Fax: +49 6039 92 63 689<br>
        E-mail: <a href="mailto:kontakt@gallehr.de">kontakt@gallehr.de</a><br>
        Website: <a href="https://www.gallehr.de" target="_blank">www.gallehr.de</a></p>
        <p>Managing Director: Dipl.-Ing. Sebastian Gallehr</p>
        <p>Register Court: Frankfurt am Main<br>
        Registration Number: HRB 80660</p>
        <p>UST-ID: DE255485677<br>
        Tax Number: 202 340 0391</p>
    </div>
</body>
</html>
{% endblock %}
